{% extends 'base.html.twig' %}

{% block title %}New Fruit{% endblock %}

{% block body %}
    <h1>Create new Fruit</h1>

    {{ include('admin/fruit/_form.html.twig') }}

    <a href="{{ path('fruit_overzicht') }}">back to list</a>
{% endblock %}
